@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model LineLogin.Pages.indexModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.js"></script>

    <title>index</title>
    <script>
        //建立OAuth 身分驗證頁面並導入
        function Auth() {
            var URL = 'https://access.line.me/oauth2/v2.1/authorize?';
            URL += 'response_type=code';
            URL += '&client_id=@Model.Channel_ID.Value';   //TODO:這邊要換成你的client_id
            URL += '&redirect_uri=@Model.CallbackURL.Value';   //TODO:要將此redirect url 填回你的 LineLogin後台設定
            URL += '&scope=openid%20profile';
            URL += '&state=abcde';
            window.location.href = URL;
        }
        //建立OAuth 身分驗證頁面並導入
        function AuthWithEmail() {
            var URL = 'https://access.line.me/oauth2/v2.1/authorize?';
            URL += 'response_type=code';
            URL += '&client_id=@Model.Channel_ID.Value';   //TODO:這邊要換成你的client_id
            URL += '&redirect_uri=@Model.CallbackURL.Value';   //TODO:要將此redirect url 填回你的 LineLogin後台設定
            URL += '&scope=openid%20profile%20email';
            URL += '&state=abcde';
            window.location.href = URL;
        }
        //Button1 click
        function Button1_click() {
            Auth();
        }
        //Button2 click
        function Button2_click() {
            AuthWithEmail();
        }
        //hook event
        $(document).ready(function () {
            $('#Button1').click(Button1_click);
            $('#Button2').click(Button2_click);
        });

/**/</script>
</head>
<body>
    <form id="form1" method="post">
        @Html.AntiForgeryToken()
        <div>
            <div class="row" style="margin: 12px">
                <div class="col-lg-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            範例 :  LINE Login  Example
                        </div>
                        <div class="panel-body">
                            使用說明:
                            <ol>
                                <li>
                                    使用此範例Source code，請先更換程式碼中的 'Channel_ID' 與 'Channel_Secret'<br />
                                    (位於appsettings.json)
                                </li>
                                <li>
                                    並且在LINE Developer後台將你申請好的 LINE Login 的callback url 設定好
                                    <br />
                                    (測試階段應為http://localhost:50416/Callback)
                                </li>
                                <li>同時Callback中的client_id與client_secret必須為你申請 LINE Login 後取得的正確資料</li>
                                <li>相關說明請參考 : http://studyhost.blogspot.tw/2016/12/linebot7-line-loginoauth-sso.html </li>
                            </ol>
                            使用步驟:
                            <ol>
                                <li>請點選《使用Line登入》，將會取得該登入用戶的access_token</li>
                                <li>接著按下《取得用戶資訊》，可透過access_token取得用戶資訊</li>
                            </ol>
                            安全性說明:
                            <ol>
                                <li>token會由放在queryString是為了便於您測試和debug, 正式環境不該如此。</li>
                                <li>否則會有嚴重的安全性顧慮</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            測試 LINE Login (current user :   @this.User.Identity.Name )
                        </div>
                        <div class="panel-body">
                            <button class="btn btn-primary pull-left" style="margin-right: 5px" id="Button1" type="button">LINE Login (使用LINE帳號登入)</button>
                            <br />
                            <br />
                            <div>
                                <button class="btn btn-primary" id="Button2" type="button">LINE Login and get OpenID email (使用LINE帳號登入並取得用戶email)</button><br />
                                <label>(透過上面LINE Login按鈕將取得您的email，僅供本範例示範需要使用)</label><br />
                                <label>(申請的LINE Login Channel必須支援OpenID Connect/email) </label>
                            </div>
                            <br />
                            <div class="form-group">
                                <label>取回的token:</label>
                                <input name="txb_token" class="form-control" value="@Model.txb_token" /><br />
                                <label>取回的email: (申請的LINE Login Channel必須支援OpenID Connect/email)</label>
                                <input name="txb_email" class="form-control" value="@Model.txb_email" /><br />
                                <Button type="submit" class="btn btn-primary" asp-page-handler="GetUserProfile" ID="ButtonGetUserProfile">
                                    取得用戶資訊 Get user profile
                                </Button>
                                <br />
                                <textarea runat="server" rows="5" class="form-control" name="textarea1">@Model.txb_area1</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
